$colores:(
	color1: rgb(216, 113, 180),
	color2: darkgreen,
	color3: rgba(0, 100, 0, 0.74),
);

$medidas:(
    4: .25rem,
    8: .5rem,
    10: .625rem,
    12: .75rem,
    14: 14px,
    16: 1rem,
    20: 1.25rem,
    24: 1.5rem,
    32: 2rem,
    48: 3rem,
    60: 3.75rem,
);