header{
    .container{
        width: 50vw;
        max-width: 62.5rem;
        min-width: 20rem;
        margin: auto;
    img{
        width: 100%;
        border-radius: .9375rem;
    }
        }
}