.titulos{
    h1{
            text-align: center;
            margin-top: 3.75rem;
            margin-bottom: 1.875rem;
            font-size: map-get($medidas, 60);
            font-weight: lighter;
            font-family:titulo;
            a{
                color: $color-titulos;
                text-decoration: none;
            &:hover{
                text-decoration: underline;
                font-size: 3.8125rem;
            }
        }
    }
    h2{
        @extend h1
    }
}

.tituloNovedades{
            text-align: center;
            margin-top: 3.75rem;
            margin-bottom: 1.875rem;
            font-weight: lighter;
            font-size: map-get($medidas, 60);
            font-family:titulo;
            color: $color-titulos;
}

.carousel-item img{
    border-radius: .9375rem;
}

h2{
    color: map-get($colores, color2);
    font-size: map-get($medidas, 24);
    text-align: center;
    margin-bottom: .9375rem;
    font-family: font-h2;
    font-weight: bold;
    margin-top: 3.75rem;
}
h3{
    color: map-get($colores, color3);
    font-size: map-get($medidas, 20);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    &::first-letter{
    font-size: 1.875rem;
}
}
.Conta{
    font-style: italic;
    h4{
    font-style: italic;
    text-align: center;
    margin-bottom: 1.875rem;
    }
}
p{
    font-style: italic;
    font-size: map-get($medidas, 16);
    text-align: center;
}
.cont-img{
    width: 50vw;
    max-width: 62.5rem;
    min-width: 20rem;
    margin: auto;
    .novedades1{
        width: 100%;
        border-radius: .9375rem;
    }
}