.fem-Grid{
    @include grid(100%, 25% 24.5% 25% 25.5%, repeat(3, 1fr));
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
}
.item1{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: right;
    width: 18.75rem;
    height: 18.75rem;
}
.item2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.item3{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: right;
    width: 21.875rem;
    height: 21.875rem;
}
.item4{
    grid-column: 4/5;
    grid-row: 1/2;
}
.item5{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: right;
    width: 18.75rem;
    height: 18.75rem;
}
.item6{
    grid-column: 2/3;
    grid-row: 2/3;
}
.item7{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: right;
    width: 21.875rem;
    height: 21.875rem;
}
.item8{
    grid-column: 4/5;
    grid-row: 2/3;
}
.item9{
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: right;
    width: 18.75rem;
    height: 18.75rem;
}
.item10{
    grid-column: 2/3;
    grid-row: 3/4;
}
.item11{
    grid-column: 3/4;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    width: 18.125rem;
    height: 18.125rem;
}
.item12{
    grid-column: 4/5;
    grid-row: 3/4;
}